* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  touch-action: manipulation;
}

a {
  text-decoration: none;
  color: lightseagreen;
}

body {
  margin: 0;
  padding: 0;
}

.error-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;

  background-color: lightskyblue;
  width: 360px;

  margin: auto;
  padding: 10px;

  border-radius: 10px;
}

.error-message {
  color: whitesmoke;
}

header {
  background-color: snow;

  display: flex;
  justify-content: center;

  margin: auto;
}

.header-items {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: lightblue;

  padding: 15px 70px;
  margin: 5px 10px;

  border-radius: 10px;
  border-style: none;

  width: 100px;
  height: 50px;
  text-align: center;

  transition: opacity 300ms;
}

.header-items.start {
  background-color: darkseagreen;
}

.header-items.start:hover {
  opacity: 0.75;
}

.header-items.start:active {
  opacity: 0.25;
}

.header-items:hover {
  opacity: 0.75;
}

.header-items:active {
  opacity: 0.45;
}

#reset {
  background-color: rgb(240, 128, 128, 0.9);
}

#reset:hover {
  opacity: 0.75;
}

#reset:active {
  opacity: 0.5;
}

/* #timer {
  display: flex;
  justify-content: center;
  align-items: center;
} */

#timer.sixty {
  background-color: green;
  opacity: 0.8;
  color: white;

  font-size: 25px;
}

#timer.thirty {
  background-color: orange;
  opacity: 0.8;
  color: white;

  font-size: 35px;
}

#timer.ten {
  background-color: red;
  opacity: 0.8;
  color: white;

  font-size: 45px;
}

main {
  padding: 20px;
  background-color: lightcyan;
  background-size: cover;
  background-position: center;
  transition: background-color 500ms;

  width: 100vw;
  height: 90vh;
}

.main-error {
  width: 100vw;
  height: 97.2vh;
}

main.wrong {
  background-color: pink;
  transition: background-color 300ms;
}

main.correct {
  background-color: rgb(173, 255, 47, 0.35);
  transition: background-color 300ms;
}

#problem-block {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 5px dashed darkseagreen;
  border-radius: 10px;

  margin: auto;

  min-width: 400px;
  max-width: fit-content;
  min-height: 120px;
}

.problem {
  padding: 20px;
  color: darkseagreen;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#answer-block {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 20px;
  margin: 10px;
}

.answer {
  border-radius: 10px;
  border-style: none;

  font-size: 45px;
  color: white;

  padding: 20px;
  height: 100px;
  min-width: 400px;
  width: fit-content;

  /* background-color: rgb(147, 239, 211, .75); */
  background-color: rgb(211, 211, 211, 0.45);
  scale: 1;
  transition: background-color, scale 500ms;
}

.answer.wrong {
  animation: shake 300ms;
  background-color: rgb(255, 0, 0, 0.25);
  scale: 0.8;
  transition: background-color, scale 500ms;
}

.answer.correct {
  background-color: rgb(0, 128, 0, 0.35);
  scale: 1.2;
  transition: background-color, scale 300ms;
}

.number-grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);

  justify-content: center;
  align-content: center;
}

.num,
.escape,
.enter {
  background-color: rgb(64, 224, 208, 0.7);
  border: none;
  border-radius: 20px;

  font-size: 20px;
  color: black;

  margin: 2px;
  padding: 30px;
  cursor: pointer;

  transition: scale 300ms;
}

.num:hover {
  background-color: rgb(64, 224, 208, 0.5);

  scale: 1.1;
}

.num:active {
  background-color: rgb(64, 224, 208, 0.25);
}

.escape {
  grid-column: span 2;
  background-color: rgb(255, 192, 203);

  transition: scale 300ms;
}

.escape:hover {
  background-color: rgb(255, 192, 203, 0.75);

  scale: 1.1;
}

.escape:active {
  background-color: rgb(255, 192, 203, 0.5);
}

#zero {
  grid-column: span 2;
}

.enter {
  grid-row: span 3;
  background-color: rgb(144, 238, 144, 0.9);

  transition: scale 300ms;

  display: flex;
  justify-content: center;
  align-items: center;
}

.enter:hover {
  background-color: rgb(144, 238, 144, 0.5);

  scale: 1.1;
}

.enter:active {
  background-color: rgb(144, 238, 144, 0.25);
}

.summary-popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: rgb(135, 206, 250);

  width: 500px;
  padding: 20px;
  border-radius: 20px;

  z-index: 10;
}

.summary-popup-container.show {
  visibility: visible;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 25px;
}

.popup-close:hover {
  color: white;
}

.popup-close:active {
  color: gray;
}

.share-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.share-icons a {
  margin: 10px;
  border-radius: 50%;

  height: 40px;
  width: 40px;

  font-size: 20px;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook-link {
  background-color: #4267b2;
}
.facebook-link:hover {
  color: #4267b2;
  background-color: white;
}
.facebook-link:active {
  color: #4267b2;
  background-color: lightgray;
}
.twitter-link {
  background-color: #1da1f2;
}
.twitter-link:hover {
  color: #1da1f2;
  background-color: white;
}
.twitter-link:active {
  color: #1da1f2;
  background-color: lightgray;
}
.email-link {
  background-color: lightsalmon;
}
.email-link:hover {
  color: lightsalmon;
  background-color: white;
}
.email-link:active {
  color: lightsalmon;
  background-color: lightgray;
}

.text-link {
  background-color: #53d769;
}
.text-link:hover {
  color: #53d769;
  background-color: white;
}
.text-link:active {
  color: lightsalmon;
  background-color: lightgray;
}

#version {
  text-align: center;
  color: white;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  padding: 3px 5px;
}

.nav-item a {
  text-decoration: none;
}

/* .nav-item a:link {
  color: gray;
} */

@media screen and (min-width: 480px) and (max-width: 720px) {
  .summary-popup-container {
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .header-items {
    padding: 15px 5px;
  }

  #problem-block {
    min-width: 300px;
    max-width: fit-content;
    min-height: 120px;
  }

  .summary-popup-container {
    width: 325px;
  }

  .number-grid {
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: repeat(4, 90px);
  }

  .answer {
    min-width: 300px;
  }
}

@media screen and (max-width: 380px) {
  .header-items {
    padding: 15px 5px;
  }

  #problem-block {
    min-width: 275px;
    max-width: fit-content;
    min-height: 120px;
  }

  .answer {
    min-width: 275px;
  }

  .summary-popup-container {
    width: 260px;
  }

  .number-grid {
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(4, 70px);
  }
  .error-container {
    width: 260px;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.about-body,
.careers-body,
.future-body,
.contact-body {
  background-color: lightcyan;
}

.about-title,
.careers-title,
.future-title,
.contact-title {
  color: lightseagreen;
}

.about-main,
.careers-main,
.future-main,
.contact-main {
  padding: 5px 15px;
}

/* About Us Page */
.about-main {
  padding-bottom: 75px;
}

/* Footer */
footer {
  margin: 0;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  background: lightblue;
}
